body {
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4 {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
    color: #777;
}

a:hover {
    color: #000;
}


* {
    font-weight: 100;
    font-family: "helvetica neue", arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.title {
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    margin: 0;
}