#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    
    &.show {
        display: inline-block;
    }
}

.message {
    @include transition(background-color, 0.3s);

    color: #000;
    background-color: rgba(255,255,255,0.75);
    border-radius: 16px;
    display: inline-block;
    padding: 8px 18px;
    font-weight: 200;
    top: 12%;
    position: absolute;
    z-index: 2;
    width: 400px;
    left: 50%;
    margin-left: -218px;
    
    > * {
        line-height: 1.5em;
        font-size: 18px;
        font-weight: 200;
        float: left;
        width: 100%;
    }

    &:hover {
        background-color: rgba(255,255,255,1);
    }

    .title {
        font-size: 48px;
        letter-spacing: 0.3em;
    }

    .border-bottom {
        border-bottom: 1px solid #999;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
    }

    .button {
        border-radius: 16px;
        margin: 0.7em 0.5em 0.5em 0.5em;
        padding: 0.1em 0.8em 0.2em 0.8em;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 1.5em;
    }
}

.code {
    background-color: #BFBFBF;
    border-radius: 3px;
    padding: 0 5px;
    font-family: courier, monospace;
    letter-spacing: 0;
}

.sliders {
    width: 80%;
    margin: 0 10% 1em 10%;
}

.slider {
    width: 100%;
    margin: 0.75em 0 1em 0;
    display: inline-block;

    .jslider {
        top: 1.5em;
    
        .jslider-bg i {
            background-image: none;
            background-color: #999;

            &.l {
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
            }

            &.r {
                border-top-right-radius: 18px;
                border-bottom-right-radius: 18px;
            }
        }

        .jslider-label {
            top: -22px;
        }
        .jslider-value {
            top: -31px;
            color: #666;
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            padding: 0;

            > span {
                line-height: 30px;
            }
        }
    }

    .jslider_round .jslider-pointer {
        background-image: none;
        background-color: #FFF;
        border: 4px solid #999;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        z-index: 2;

        &.jslider-pointer-hover,
        &:hover {
            background-color: #666;
            border-color: #666;
        }
    }
}